.footer {
    width: 100%;
    padding: 26px 20px;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    background-color: #fff;
    color: #707070;
    text-align: center;
    font-size: 14px;
}