.login-btn {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: $primary;
    color: $white;

    &:hover {
        background-color: $purple-800;
    }
}

.add-btn {
    background-color: $primary;
}

.upload-btn {
    background-color: $secondary;
}

.save-btn,
.filtre-btn {
    min-width: 90px;
    padding: 10px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: $primary;
    color: $white;
    padding: 8px 12px;
    justify-content: center;

    &:hover {
        background-color: $purple-800;
    }
}

.iptal-btn {
    min-width: 90px;
    padding: 10px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: $gray-700;
    color: $white;
    padding: 8px 12px;
    justify-content: center ;

    &:hover {
        background-color: $gray-800;
    }
}

.filtre-ekle-btn {
    background-color: $secondary;
    justify-content: center;
    span {
        flex: none;
    }
}

.p-button {
    border: none;
    outline: none;
    box-shadow: none;
    gap: 8px;
    align-items: baseline;
}

.p-button-icon-only  {
    gap: 0;
}


.p-button-danger  {
    background-color: $error;
    color: $white;
}

.p-button-icon::before {
    font-size: 12px;
}

.islem-btn {
    background-color: $light-blue;
}
