.btn {
    min-width: 100px;
    border-radius: 4px;
    padding: 8px 12px;
}

.primary-btn {
    @include btn($bg: $primary, $color: $white);
    border-radius: 4px;
    border: none;
}

.secondary-btn {
    @include btn($bg: $secondary, $color: $white);
    border-radius: 4px;
    border: none;
}

.cancel-btn {
    @include btn($bg: $gray-800, $color: $white);
    border-radius: 4px;
    border: none;
}

.info-btn {
    @include btn($bg: $info, $color: $white);
    border-radius: 4px;
    border: none;
}

.file-btn {
    @include btn($bg: $info, $color: $white);
    border-radius: 4px;
    border: none;
}

.primary-btn:hover {
    background-color: $dark-purple !important;
    color: $white !important;
    border: none !important;
}

.info-btn:hover {
    background-color: $dark-blue !important;
    color: $white !important;
    border: none !important;
}

.cancel-btn:hover {
    background-color: $gray-900 !important;
    color: $white !important;
    border: none !important;
}

.file-btn:hover {
    background-color: $dark-blue !important;
    color: $white !important;
    border: none !important;
}