.input {
    color: #495057;
    background: #ffffff;
    padding: 6px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    @include border($color: #ced4da, $radius: 4px);
}

.select {
    background: #ffffff;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    @include border($color: #ced4da, $radius: 4px);
    outline-color: transparent;
}

.search-input {
    padding-left: 14px;
    padding-right: 14px;
    margin-right: 20px;
    background: #f8f9fa;
    @include border($color: #e9ecef, $radius: 30px);
}