.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.gap-1 {
    gap: 0.25rem;
}

.gap-4 {
    gap: 20px;
}

.col-span-1 {
    grid-column: span 1 / span 1;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.col-span-3 {
    grid-column: span 3 / span 3;
}

.col-span-4 {
    grid-column: span 4 / span 4;
}

.col-span-5 {
    grid-column: span 5 / span 5;
}

.col-span-6 {
    grid-column: span 6 / span 6;
}

.col-span-7 {
    grid-column: span 7 / span 7;
}

.col-span-8 {
    grid-column: span 8 / span 8;
}

.col-span-9 {
    grid-column: span 9 / span 9;
}

.col-span-10 {
    grid-column: span 10 / span 10;
}

.col-span-11 {
    grid-column: span 11 / span 11;
}

.col-span-12 {
    grid-column: span 12 / span 12;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.self-center {
    align-self: center;
}

.self-end {
    align-self: end;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.py-20 {
    padding: 20px 0;
}

.p-10 {
    padding: 10px;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-14 {
    margin-top: 14px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.relative {
    position: relative;
}

.ant-popover-content .ant-checkbox-group.css-dev-only-do-not-override-kghr11 {
    flex-direction: column;
}

.ant-drawer,
.ant-select-dropdown {
    z-index: 2003 !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark>.ant-menu .ant-menu-item-selected {
    background-color: $gray-600;
}

:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark .ant-menu-item:not(.ant-menu-item-disabled):focus-visible,
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark>.ant-menu .ant-menu-item:not(.ant-menu-item-disabled):focus-visible,
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark .ant-menu-submenu-title:not(.ant-menu-item-disabled):focus-visible,
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark>.ant-menu .ant-menu-submenu-title:not(.ant-menu-item-disabled):focus-visible {
    outline: none;
}

:where(.css-dev-only-do-not-override-kghr11).ant-checkbox-checked .ant-checkbox-inner {
    background-color: $secondary;
    border: none;
    border-radius: 3px;
}

:where(.css-dev-only-do-not-override-kghr11).ant-btn {
    height: unset;
}

:where(.css-dev-only-do-not-override-kghr11).ant-pagination .ant-pagination-item-active a {
    color: $primary;
}

:where(.css-dev-only-do-not-override-kghr11).ant-pagination .ant-pagination-item-active {
    border-color: $primary;
}

:where(.css-dev-only-do-not-override-kghr11).ant-pagination .ant-pagination-item-active:hover {
    border-color: $secondary;
}

:where(.css-dev-only-do-not-override-kghr11).ant-pagination .ant-pagination-item-active:hover a,
:where(.css-dev-only-do-not-override-kghr11).ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
:where(.css-dev-only-do-not-override-kghr11).ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
    color: $secondary;
}

:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper .ant-table-thead>tr>td {
    font-weight: 400;
}

.ant-modal-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

:where(.css-dev-only-do-not-override-kghr11).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
:where(.css-dev-only-do-not-override-kghr11).ant-tabs .ant-tabs-tab:hover {
    color: $secondary;
}

:where(.css-dev-only-do-not-override-kghr11).ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible), :where(.css-dev-only-do-not-override-kghr11).ant-tabs .ant-tabs-tab-remove:focus:not(:focus-visible), :where(.css-dev-only-do-not-override-kghr11).ant-tabs .ant-tabs-tab-btn:active, :where(.css-dev-only-do-not-override-kghr11).ant-tabs .ant-tabs-tab-remove:active {
    color: $black;
}


.ant-drawer-content-wrapper {
    width: 500px !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-input-outlined.ant-input-disabled,
:where(.css-dev-only-do-not-override-kghr11).ant-input-outlined[disabled],
:where(.css-dev-only-do-not-override-kghr11).ant-picker-outlined.ant-picker-disabled,
:where(.css-dev-only-do-not-override-kghr11).ant-picker-outlined[disabled] {
    background-color: rgba(0, 0, 0, 0.14);
}

.ant-modal-title {
    font-size: 24px !important;
    color: $primary !important;
    font-weight: 400 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    padding-bottom: 10px;
}

:where(.css-dev-only-do-not-override-kghr11).ant-spin .ant-spin-dot-item {
    background-color: $white !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-tabs .ant-tabs-ink-bar {
    background-color: transparent;
}