@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
}

img,
a,
input,
label,
select,
textarea {
    display: inline-block;
}


button,
input,
a {
    cursor: pointer;
}

textarea {
    resize: unset !important;
    height: 80px !important;
}

ul {
    list-style-type: none;
}
