.text-secondary {
    color: $secondary;
}

.text-primary {
    color: $primary;
}

.text-info {
    color: $info;
}

.text-danger {
    color: $error;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-primary {
    background-color: $primary;
}

.bg-info {
    background-color: $info;
}

.bg-dark {
    background-color: #04274b;
}

.bg-light {
    background-color: $gray-300;
}