.login {
    width: 50%;
    height: calc(100vh - 400px);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.image {
    background: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)),
        center/cover url("/images/ats_login_image.jpg") no-repeat;
    height: 100%;
    overflow: hidden;
}

.card-login {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.forget-link {
    font-size: 12px;
    color: #43caff;
}

.btn {
    min-width: 100px;
    color: #fff;
    border-radius: 4px;
    border: none;
}

.login-btn {
    background-color: #000;
    width: 100%;
}

.login-logo {
    width: 200px;
}