.main-content {
    height: 100vh;
    background-color: #dcdcdc;
    position: relative;
    overflow: hidden;

    .main {
        padding: 64px 40px;
        overflow: auto;
        height: 100%;
    }
}

.content {
    background-color: #fff;
    border-radius: 8px;
    margin: 10px 0;
    padding: 20px;
    box-shadow: $shadow;
    position: relative;
}

.car-image {
    width: 100%;
    height: 200px;
}

.text-secondary {
    color: $secondary;
}

.text-primary {
    color: $primary;
}

.text-info {
    color: $info;
}

.text-danger {
    color: $error;
}

.detail-info {
    position: absolute;
    top: 26px;
    right: 20px;
    z-index: 1000 !important;
    background-color: $info;
    color: $white;
    border: none;
}

.filter-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $white;
    margin-right: 4px;
}