.ant-layout-sider.ant-layout-sider-dark {
    background-color: #04274b;
}

:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark,
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark>.ant-menu,
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background: transparent !important;
}

.sidebar-logo {
    width: 50%;
}