* {
    margin: 0;
}

.p-checkbox-box,
.p-megamenu-start {
    display: none;
}

a {
    text-decoration: none;
}

.p-panelmenu .p-panelmenu-content,
.p-panelmenu .p-panelmenu-header:not(.p-disabled).p-highlight .p-panelmenu-header-content,
.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content  {
    background: transparent;
    border: none;
}

.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content:hover,
.p-panelmenu .p-panelmenu-content .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover,
.p-focus {
    background: #9d9d9d;
    border-radius: 4px;
}
